*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins" sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #000;
}
.quebra{
    display: flex;
}
.quebra .texto1{
    color: #fff;
    font-size: 60px;
    font-weight: 400;
}
.quebra .texto-corrido{
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
}
.texto-corrido li{
    list-style: none;
    color: cyan;
    font-size: 60px;
    font-weight: 400;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
}
@keyframes slide{
    100%{
        top: -360px;
    }
}
.texto-corrido li span{
    position: relative;
    margin: 5px 0;
    line-height: 90px;
}
.texto-corrido li span::after{
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000;
    border-left: 3px solid cyan;
    animation: tipando 3s steps(12) infinite;
}
@keyframes tipando{
    40%, 60%{
        left: calc(100% + 30px);
    }
    100%{
        left: 0;
    }
}